:root {
	--primary-col: rgb(59, 51, 100);
	--background-col: rgb(44, 37, 73);
	--font-color: rgb(189, 202, 206);
	--hover-col: rgb(121, 113, 164);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.coin-container {
	background-color: var(--primary-col);
}
body {
	background-color: var(--background-col);
	color: var(--font-color);
}

.hover-col:hover {
	background-color: var(--hover-col);
}

.grid-template {
	grid-template-columns: 33% 66%;
}
