:root {
	--primary-col: rgb(59, 51, 100);
	--background-col: rgb(44, 37, 73);
	--font-color: rgb(189, 202, 206);
	--hover-col: rgb(121, 113, 164);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.coin-container {
	background-color: var(--primary-col);
}
body {
	background-color: var(--background-col);
	color: var(--font-color);
}

.hover-col:hover {
	background-color: var(--hover-col);
}
.background-image {
	background-image: url('./landing.png');
}
.h-90 {
	height: 90vh;
}
.h-80 {
	max-height: 80%;
}
.grid-template {
	grid-template-columns: 33% 66%;
	height: 87vh;
}
@media (max-width: 700px) {
	.grid-template {
		grid-template-columns: auto;
	}
	.icons {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.width {
		width: 80%;
	}
}
.drop-shadows {
	-webkit-filter: drop-shadow(5px 5px 25px rgba(231, 204, 225, 0.7));
	filter: drop-shadow(5px 5px 25px rgba(231, 204, 225, 0.7));
}
.dropdown:hover .dropdown-menu {
	display: block;
}

@media (max-width: 1024px) {
	.flex-column {
		flex-direction: column;
		padding-top: 5rem;
		align-items: center;
		text-align: center;
	}
}
